:root {
    --header-height: 70px;
    --bs-border-radius: 5px;
    --bs-primary-bg-subtle: #242424;
    --bs-body-bg: #141414;
    --bs-second-bg: #1c1b1b;
    --bs-light-color: #c6c7c8;
    --bs-light-shadow-color: rgba(172, 205, 255, 0.25);
    --bs-body-color: #f2f2f2;

    --bs-body-font-family: 'Exo 2', var(--bs-font-sans-serif);
}

.card {
    --bs-card-spacer-y: 12px !important;
    --bs-card-spacer-x: 12px !important;
    --bs-card-border-color: var(--bs-second-bg);
    --bs-card-title-color: var(--bs-body-color);
    --bs-card-color: var(--bs-body-color);
    --bs-card-cap-bg: ;
    --bs-card-bg: var(--bs-second-bg);
}

.btn-light {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-border-width: 1px;
    --bs-btn-active-bg: var(--bs-primary-bg-subtle);
    --bs-btn-hover-bg: var(--bs-second-bg);
    --bs-btn-active-border-color: var(--bs-primary-bg-subtle);
    --bs-btn-border-color: var(--bs-second-bg);
    --bs-btn-bg: var(--bs-second-bg);


    --bs-btn-disabled-bg: var(--bs-primary-bg-subtle);
    --bs-btn-disabled-border-color: var(--bs-primary-bg-subtle);
    --bs-btn-disabled-color: var(--bs-body-color);
}

.header .btn-light {
    --bs-btn-border-width: 1px;
    --bs-btn-active-bg: var(--bs-second-bg);
    --bs-btn-hover-bg: var(--bs-second-bg);
    --bs-btn-hover-border-color: var(--bs-btn-hover-border-color);
    --bs-btn-active-border-color: var(--bs-btn-hover-border-color);
    --bs-btn-border-color: var(--bs-primary-bg-subtle);
    --bs-btn-bg: var(--bs-second-bg);
}

.header .btn-light:active {
    box-shadow: 0 0 0 .25rem var(--bs-light-shadow-color);
}

.dropdown img {
    border: var(--bs-border-width) solid var(--bs-primary-bg-subtle);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropdown img:hover {
    border: var(--bs-border-width) solid var(--bs-light-color);
}

.dropdown img.show {
    border: var(--bs-border-width) solid var(--bs-light-color);
    box-shadow: 0 0 0 .25rem var(--bs-light-shadow-color);
}

.alert-primary {
    --bs-alert-bg: var(--bs-primary-bg-subtle);
    --bs-alert-border-color: var(--bs-primary-bg-subtle);
}

.accordion-item {
    --bs-accordion-border-width: 0px;
    --bs-accordion-bg: var(--bs-second-bg);
    --bs-accordion-border-color: var(--bs-second-bg);
}

.accordion-button {
    margin-top: -1px;
    --bs-accordion-border-width: 1px;
    border-top-width: var(--bs-accordion-border-width);
    border-bottom-width: var(--bs-accordion-border-width);
    border-left-width: var(--bs-accordion-border-width);
    border-right-width: var(--bs-accordion-border-width);
    border-style: solid;
    border-color: var(--bs-primary-bg-subtle);
    --bs-accordion-active-color: var(--bs-accordion-btn-color);
    --bs-accordion-btn-focus-border-color: var(--bs-primary-bg-subtle);
    box-shadow: none!important;
}

.accordion-item:first-of-type .accordion-button {
    margin-top: 0px;
}

.accordion-button.collapsed {
    border-color: var(--bs-second-bg);
    background-color: var(--bs-second-bg);
}

.accordion-collapse {
    --bs-accordion-border-width: 1px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: var(--bs-accordion-border-width);
    border-right-width: var(--bs-accordion-border-width);
    border-style: solid;
    border-color: var(--bs-second-bg);
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-width: var(--bs-accordion-border-width);
}

.header .form-control {
    --bs-border-color: var(--bs-primary-bg-subtle);
    --bs-body-bg: var(--bs-second-bg);
}

.header .form-control:hover {
    --bs-border-color: var(--bs-light-color);
}

.header .form-control:focus {
    --bs-border-color: var(--bs-light-color);
    box-shadow: 0 0 0 .25rem var(--bs-light-shadow-color);
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.header .form-control:active {
    --bs-border-color: var(--bs-light-color);
    box-shadow: 0 0 0 .25rem var(--bs-light-shadow-color);
}

.page-link {
    --bs-pagination-border-width: 1px;

    --bs-pagination-bg: var(--bs-second-bg);
    --bs-pagination-active-bg: var(--bs-primary-bg-subtle);
    --bs-pagination-hover-bg: var(--bs-second-bg);
    --bs-pagination-disabled-bg: var(--bs-primary-bg-subtle);

    --bs-pagination-border-color: var(--bs-second-bg);
    --bs-pagination-active-border-color: var(--bs-primary-bg-subtle);
    --bs-pagination-hover-border-color: var(--bs-light-color);
    --bs-pagination-disabled-border-color: var(--bs-primary-bg-subtle);

    --bs-pagination-color: var(--bs-card-title-color);
    --bs-pagination-active-color: var(--bs-card-title-color);
    --bs-pagination-hover-color: var(--bs-card-title-color);
    --bs-pagination-disabled-color: var(--bs-card-title-color);
}

.placeholder {
    cursor: auto;
}

.header {
    height: var(--header-height);
}

.header .item {
    height: 38px;
}

.header h1 {
    font-size: 32px;
}

.body {
    top: var(--header-height);
}

.menu {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    grid-template-rows: auto 1fr;
}

.menu .btn {
    word-break: break-word;
}

.menu-nav {
    padding-top: 16px !important;
}

@media (min-width:992px) {
    .menu.sticky-lg-top {
        top: var(--header-height);
        height: calc(100vh - var(--header-height));
    }
}

.img-block {
    background-color:#1c1b1b;
    background-position: center;
    background-size: cover;
    background-image: var(--image-url);
}

.bd-placeholder-img {
    background-color:#191919
}

.btn svg {
    margin-bottom: 2.5px;
}

.page-item .page-link {
    margin: 0!important;
}

.modal-header {
    --bs-modal-header-border-width: 0px;
}

object, iframe {
    color-scheme: light;
}

#yandexAuth iframe {
    height: 56px;
}

.telegramAuth {
    background-color: #4c92c7;
    border-radius: 5px;
    background-position: revert;
    background-size: cover;
    background-size: 70%;
    background-position-x: 98%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m1.95617055%2011.392196c5.77764656-2.42328736%209.63031585-4.02086673%2011.55800785-4.79273807%205.5039525-2.20384954%206.6476266-2.5866818%207.3930574-2.59932314.1639507-.00278035.5305319.0363352.7679878.22182361.2005031.15662277.2556695.36819788.2820684.51669348.026399.1484956.0592719.48677234.0331404.75109194-.2982611%203.0169019-1.5888322%2010.33812718-2.2454015%2013.71710898-.2778191%201.4297738-.8288514%201.7357846-1.3584441%201.7826999-1.1509274.1019576-2.0208916-.5588425-3.1356211-1.2622918-1.7443316-1.1007592-2.3854935-1.3972358-4.0786694-2.4713734-1.95675765-1.2413519-.8891962-1.8911034.2259543-3.0061212.2918402-.2918054%205.3989024-4.83750096%205.497052-5.24030969.0122753-.05037796-.1557336-.55407742-.2716182-.65323489-.1158847-.09915747-.2869204-.06524947-.4103446-.03828214-.17495.03822537-2.9615423%201.81132342-8.35977698%205.31929412-.79096496.5228681-1.50739646.7776269-2.1492945.7642766-.70764107-.0147176-2.06885864-.3851791-3.08078398-.7018404-1.24116762-.388398-1.69932554-.5713149-1.61342745-1.2309348.04474105-.3435709.36011227-.7024173.94611366-1.0765391z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}

.telegramAuth .telegramAuthContainer {
    width: 234px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 0;
    margin-right: auto;
    margin-left: 30px;
}

article .article-img {
    position: relative!important;
    left: -12px!important;
    width: calc(100% + 24px)!important;
}

article .article-iframe {
    position: relative!important;
    left: -12px!important;
    width: calc(100% + 24px)!important;
    height: 450px!important;
}